@media screen and (max-width: 940px) {
  .header {
    span {
      display: none;
    }
    .header_user {
      display: none;
    }
    .header_hamburger {
      display: block;
    }
    .header_image {
      left: 284px;
      top: 21px;
    }
  }
}

