<div class="header">
  <img class="header_image" src="/images/png_icons/header/Boon.png">
  <img (click)="callUser()" class="header_hamburger" src="/images/header/hamburger.png">
  <span>Raise money for...</span>
  <span>Take a tour</span>
  <span>Pricing</span>
  <span>Projects</span>
  <span>Categories</span>
  <img (click)="callUser()" class="header_user" src="/images/png_icons/header/User.png">
</div>
<div class="header_userName"
*ngIf="check"
>
  <span><img (click)="callUser()" class="header_userName_cross" src="/images/header/Vector.png">Username</span>
  <span>example@mail.com</span>
  <div></div>
  <div>
    <span class="header_userName_span">Favorite projects</span>
    <span class="header_userName_span">21</span>
  </div>
  <span>Profile settings</span>
  <span>Profile settings</span>
  <div></div>
  <span>Logout</span>
</div>
