<div class="header">
  <img class="header_image" src="/images/png_icons/header/Boon.png">
  <img (click)="callUserMin(true)" class="header_hamburger" src="/images/header/hamburger.png">
  <span>Raise money for...</span>
  <span>Take a tour</span>
  <span>Pricing</span>
  <span>Projects</span>
  <span>Categories</span>
  <img (click)="callUser()" class="header_user" src="/images/png_icons/header/User.png">
</div>
<div class="header_userName"
*ngIf="check"
>
  <span>Username</span>
  <span>example@mail.com</span>
  <div></div>
  <div>
    <span class="header_userName_span">Favorite projects</span>
    <span class="header_userName_span">21</span>
  </div>
  <span>Profile settings</span>
  <span>Profile settings</span>
  <div></div>
  <span>Logout</span>
</div>

<div class="header_userNameMin"
*ngIf="checkMin"
>
  <div class="header_userNameMin_buttons">
    <img (click)="callUserMin(false)" class="header_userName_cross" src="/images/header/Vector.png">
    <img src="/images/header/boonMin.png">
  </div>
  <div class="header_userNameMin_name">
    <span>Username</span>
    <span>example@mail.com</span>
  </div>
  <div class="header_userNameMin_hr"></div>
  <div class="header_userNameMin_favourite">
    <span>Favourite projects</span><span>21</span>
  </div>
  <div class="header_userNameMin_settings">
    <span>Profile settings</span>
    <span>Projects</span>
  </div>
  <div class="header_userNameMin_hr"></div>
  <div class="header_userNameMin_logout">
    <span>Logout</span>
  </div>
</div>
