@import "src/app/app.component.var";

.content_items_item_imgMain {
  width: 100%;
  border-radius: 3px 3px 0px 0px;
  padding-bottom: 22px;
}
.content_items_item_name {
  margin-left: 18px;
  margin-right: 80px;
  height: 27px;
  span {
    @include text(normal, bold, 22px, 26px, $titles-color);
  }
}
.content_items_item_text {
  margin-top: 13px;
  margin-left: 18px;
  margin-right: 18px;
  height: 76px;
  p {
    @include text(normal, normal, 16px, 156.7%, #3E434F);
  }
}
.content_items_item_img {
  margin-top: 35px;
  margin-left: 18px;
  height: 41px;
  img {
    height: 41px;
    float: left;
    display: block;
  }
  div {
    padding-top: 2px;
    span:nth-child(1) {
      @include text(normal, normal, 16px, 19px, $titles-color);
    }
    span:nth-child(2) {
      @include text(normal, normal, 13px, 16px, #969696);
    }
  }
  span {
    margin-left: 13px;
  }
}
.content_items_item_scale {
  margin-top: 24px;
  margin-left: 18px;
  width: 89.3805%;
  height: 8px;
  background: #D2D2D2;
  border-radius: 10px;
  >div {
    height: 8px;
    border-radius: 10px;
    background: #4640DE;
  }
}
.content_items_item_status {
  height: 78px;
  width: 100%;
  div {
    width: 33.33333%;
    display: inline-block;
    text-align: center;
    padding-top: 13px;
  }
  span {
    display: block;
    @include text(normal, 500, 12px, 137.7%, #969696);
  }
  .content_items_item_status_sum {
    @include text(normal, bold, 20px, 137.7%, $titles-color);
  }
}
