<div class="content_items_item">
  <img src="/images/item/main_jpeg/{{item.img}}.jpg">
  <div class="content_items_item_name">
    <span>{{item.name}}</span>
  </div>
  <div class="content_items_item_text">
    <p>{{item.text}}</p>
  </div>
  <div class="content_items_item_img">
    <img src="/images/item/logo.png">
    <span>{{item.company}}</span><br>
    <span class="content_items_item_img_span">{{item.point}}</span>
  </div>
  <div class="content_items_item_scale">
    <div style="width: {{item.width}}%"></div>
  </div>
  <div class="content_items_item_status">
    <div>
      <span>funded</span>
      <span class="content_items_item_status_sum">${{item.funded}}</span>
    </div>
    <div>
      <span>Goal</span>
      <span class="content_items_item_status_sum">${{item.goal}}</span>
    </div>
   <div>
     <span>days left</span>
     <span class="content_items_item_status_sum">{{item.days_left}}</span>
   </div>
  </div>
</div>

