@import 'src/app/app.component.var';
button {
  background: #FFFFFF;
  border: 1px solid #E5E5E5;
  box-sizing: border-box;
  border-radius: 4px;
  padding: 15px 18px 14px 18px;
  margin-right: 10px;
  margin-bottom: 12px;
  div {
    height: 20px;
    span {
      font-family: SF Pro Display;
      margin-left: 5.24px;
      @include text(normal, 500, 16px, 19px, $titles-color);
    }
  }
}
