<app-header></app-header>
<!--1440-->
<div class="categories" *ngIf="checkPopular">
  <span>Categories</span>
  <div>
    <app-categories
    *ngFor="let it of categories"
    [category] = it>
    </app-categories>
  </div>
</div>

<div class="content">
  <div class="content_line"></div>
  <div class="content_filter">
    <input type="text" placeholder="Search for projects" src="/images/content/png_icons/vector1.png">
    <button><span>Filters</span><img src="/images/content/png_icons/vector.png"></button>
    <span class="content_span_Popular" (click)="Popular()">Popular</span>
    <span class="content_span_Recent">Recent</span>
    <span class="content_span_Most_funded">Most funded</span>
  </div>
  <div class="content_line"></div>
  <div class="content_items">
    <app-item *ngFor = "let items of obj"
    [item] = items
    >
    </app-item>
  </div>
</div>


