@import 'src/app/app.component.var';
.categories {
  position: absolute;
  top: 159px;
  left: $content_left;
  width: 92.5%;
  height: 283px;
  z-index: 5;
  border-radius: 4px;
  background: #FFFFFF;
  box-shadow: 0px 2px 14px rgba(0, 0, 0, 0.15);
  >span {
    font-family: SF Pro Display;
    display: block;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
    letter-spacing: -0.03em;
    color: #081531;
    margin-top: 26px;
    margin-left: 25px;
  }
  >div {
    margin: 17px 25px 0px 25px;
  }
}
.categories_submit {
  margin-top: 36px;
  margin-right: 25px;
  float: right;
  width: 135px;
  height: 40px;
  background: #4640DE;
  border-radius: 4px;
  border: none;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: -0.03em;
  color: #FFFFFF;
}
