$header-color: #FFFFFF;
$content-color: #FFFFFF;
$content-line-color: #EAEAEA;
$titles-color: #081531;
$content_left: 3.75%;
$content_leftMin: 18px;
@mixin header_spans ($top, $left) {
  top: $top;
  left: $left;
}
@mixin text ($style, $weight, $size, $height, $color) {
  font-style: $style;
  font-weight: $weight;
  font-size: $size;
  line-height: $height;
  color: $color;
}
